<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field(:title, {:class =>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, Category.all.map {|c| [c.name,c.id]}) %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area(:text, {:class =>'form-control'}) %>
  </div>


<%= f.submit({:class => 'btn btn-success'})%>
<% end %>