<div class="posts.container">
  <% @posts.each do |post| %>
    <div>
      <%= link_to post do %>
        <h3><%= post.title %></h3>
      <% end %>
      <p><%= post.category.name %></p>
      <p><%= post.created_at(format: :short) %></p>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>