<h1>
  <%= @category&.name || 'All'%> posts
</h1>

<% if @category %>
  <%= link_to "All posts", posts_path %>
<% end %>
  <div class="posts.container ">
    <% @posts.each do |post| %>
      <div class="posts truncateLongTexts">
        <%= link_to post.category.name, category_posts_path(category_handle: post.category.handle)%>
        / <%= post.created_at.strftime("%H:%M %d.%m.%Y")%></p>
        <hr>
        <%= link_to post do %>
          <h3 class="imp"><%= post.title %></h3>
        <% end %>
        <p><%= post.text %></p>

      </div>
    <% end %>
  </div>



