<div class="posts">
  <%= link_to @post.category.name, category_posts_path(category_handle: @post.category.handle)%>
  / <%= @post.created_at.strftime("%H:%M %d.%m.%Y")%></p>
  <hr>
  <h3 class="imp"><%= @post.title %></h3>
  <p><%= @post.text %></p>

</div>


<div class="edit-delete.container">
  <%= link_to 'Edit', edit_post_path(@post.id), class:"btn btn-danger"%>

  <%=
    link_to 'Delete', post_path(@post.id), method: :delete,
            data: {confirm: "Are you sure?"}, remote:true, class:"btn btn-danger"
  %>
</div>
<div class="link-container" style="margin-top: 20px">
  <%= link_to 'Back to posts', posts_path, class:"btn btn-danger" %>
</div>
<h2>All comments</h2>
<% @post.comments.each  do |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.username %></strong>:
      <%= comment.comment_text %></p>
  </div>
<% end %>
<h2>Comments</h2>
<%= form_for([@post, @post.comments.build]) do |post|  %>
  <p>
    Name<br>
    <%=  post.text_field(:username, {:class=>'form-control'}) %>
  </p>
  <p>
    Text<br>
    <%=  post.text_area(:comment_text, {:class=>'form-control'}) %>
  </p>
  <p>
    <%= post.submit("Add comment",{:class => 'btn btn-success'}) %>
  </p>
<%end %>

