// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
hr{
  background: #888888;
}

a{
  color:black;
}
a:hover{
  text-decoration: none;
  color:#E85658;

}
header{
  margin-bottom: 100px;
}
nav{
  background-color: #212121;
}

.navbar-brand{
  color:#E85658;
}

.navbar-brand:hover{
  color:#E85658;
}

.nav-link{
  color:white;
}

.nav-link:hover{
  background-color: #E85658;
  color:white;
}

.dropdown-item:hover{
  color:#E85658;
}

.posts.container{

}
.posts{
  padding: 10px;
  box-shadow: 0.5px 0.5px 1px 1px #E85658;
  border-radius: 1%;
  margin-bottom: 20px;
}
.imp{
  color:#222222;
  font-family:"Arial";
  font-weight: bold;
}

imp:hover{
  color:#E85658;
}
.unimp{
  color:#A9A9A9;
  font-weight: bold;
}

.registration{
  float:right;
}

/*FOOTER*/
footer{
  width: 100%;
  height: auto;
  background-color:#212121;
  color:#fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

footer a{
  color:white;
  font-size: 14px;
  margin-left: 10px;

}


.logo{
  margin-top: 20px;
}

.socials{
  padding-bottom: 10px;
}

.socials>a{
  text-decoration: none;
}

.btn{
  color:white;
  background-color: #212121;
}

.btn:hover{
  color:white;
}

.truncateLongTexts {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}