<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

    <nav class="navbar fixed-top navbar-expand-sm  scrolling-navbar">
      <%= link_to 'Football blog', posts_path, class:"navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            News
          </a>
          <div class="dropdown-menu">
            <% @categories.each do |cat| %>
              <%= link_to cat.name, category_posts_path(category_handle: cat.handle), class:"dropdown-item"%>
            <%end %>
          </div>
        </li>
      </ul>
        <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Add new post", new_post_path, class: "nav-link" %>
            </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,
                        method: :delete, class: "nav-link" %>
          </li>
        <%else %>
          <li class="nav-item mr-auto">
            <%= link_to "Log in", new_user_session_path,
                        class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path,
                        class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do|name,message| %>
        <div class="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="  margin-bottom: 100px;">
  <%= yield %>
</div>
  <footer class="fixed-bottom">
    <div class="socials">
      <a target="_blank" href="https://www.facebook.com/vyartim" class="fa fa-facebook"></a>
      <a target="_blank" href="https://twitter.com/JustZendol" class="fa fa-twitter"></a>
      <a target="_blank" href="https://www.instagram.com/ya.vitalb/" class="fa fa-instagram"></a>
      <a target="_blank" href="https://www.youtube.com/channel/UCtdYaH9ueNPggEA4L7s96zA?view_as=subscriber" class="fa fa-youtube"></a>
    </div>
  </footer>
  </body>
</html>
